body{
    /* background-color: #E5E5E5; */
    margin: 0;
}
.heading{
    text-align: center;
}
input{
    background-color: #ffffff;
    font-weight: bold;
    border: 3px solid skyblue;
    border-radius: 5px;
    padding: 4px;
}
.savings{
    width:20%;
}
.footer{
    background-color: black;
    color: white;
}