body{
    /* background-color: #E5E5E5; */
    margin: 0;
}
.heading{
    text-align: center;
}
input{
    background-color: #ffffff;
    font-weight: bold;
    border: 3px solid skyblue;
    border-radius: 5px;
    padding: 4px;
}
.savings{
    width:20%;
}
.save-btn{
    padding-top: 3px;
    padding-bottom: 3px;
}
#error-msg1{
    color: brown;
    display: none;
    margin-bottom: 20px;
}
#error-msg2{
    color: brown;
    display: none;
    margin-bottom: 20px;
}
.footer{
    background-color: black;
    color: white;
}