/* common styles */
body{
    /* background-color: #E5E5E5; */
    margin: 0;
}

/* headings */
.heading{
    text-align: center;
}

/* input fields style  */
input{
    background-color: #ffffff;
    font-weight: bold;
    border: 3px solid skyblue;
    border-radius: 5px;
    padding: 4px;
}
.savings{
    width:20%;
}

/* buttons  */
.save-btn{
    padding-top: 3px;
    padding-bottom: 3px;
}

/* error messages  */
#error-msg1{
    color: brown;
    display: none;
    margin-bottom: 20px;
}
#error-msg2{
    color: brown;
    display: none;
    margin-bottom: 20px;
}

/* footer style  */
.footer{
    background-color: black;
    color: white;
}